* {
  padding: 0;
  margin: 0;
}

nav {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 500px;
  background: rgba(26, 26, 26, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  height: 68px;
  padding: 3px 35px;

  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  color: white;
  background-color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  flex-direction: column;
}

.bg-blob {
  height: 30rem;
  width: 30rem;
  background: radial-gradient(#64c6e6, #91e5be);
  filter: blur(10rem);
  position: absolute;
  top: -15rem;
  left: 10vw;
  opacity: 0.5;
  border-radius: 40% 2rem 1rem 50%;
  transform: skew(40deg);
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(134, 134, 134, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

.logo {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  margin-left: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #bbb;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fff;
}

.search-input-nav {
  background-color: #424242;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 0.5px solid #808080;
  cursor: pointer;
  transition: 0.3s;
}

.search-input-nav:hover {
  background-color: #595959;
  padding: 10px 30px;
}
.sign-in a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  font-size: 0.95rem;
  transition: 0.3s;
}

.sign-in a:hover {
  opacity: 0.8;
}

.goCart {
  margin-left: -150px;
  border: none;
  background-color: #373737;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
}

.h1 {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  max-width: 800px;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.h1-p {
  margin: 20px 0 10px 0;
  color: gray;
  opacity: 0.5;
}

.fords {
  width: 100%;
  display: flex;
  margin-top: 60px;
  align-items: start;
  justify-content: center;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
  flex-wrap: wrap;
  max-width: 1300px;
}

.card {
  max-width: 270px;
  height: 340px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-radius: 30px;
  background-color: black;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.209);
  border-top: 0.8px rgb(44, 44, 44) solid;
  border-left: 0.5px rgb(34, 34, 34) solid;
  transition: 0.4s;
  margin: 40px 10px;
  box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.2);
  position: relative;
}

.card:hover {
  scale: 1.04;
}

.card-content {
  padding: 10px;
  margin-top: 10px;
}

.search {
  display: flex;
  flex-direction: column-reverse;
}

.search-input {
  background-color: #42424274;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 0.5px solid #808080;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
}

.search-input::placeholder {
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.5;
}

.search-input:hover {
  background-color: #5959596d;
  padding: 10px 30px;
}

.category-buttons {
  margin-top: 30px;
}

.showMustang {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: normal;
  font-family: "poppins";
  border: 0.3px rgb(159, 159, 159) solid;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 100px 0 0 100px;
  color: rgb(208, 208, 208);
  background-color: rgb(40, 40, 40);
  border-right: 0.1px gray solid;
  opacity: 0.5;
  font-size: 14px;
}

.showBMW {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: normal;
  font-family: "poppins";
  border: 0.3px rgb(159, 159, 159) solid;
  color: rgb(208, 208, 208);
  background-color: rgb(40, 40, 40);
  cursor: pointer;
  border-radius: 0 100px 100px 0;
  transition: 0.3s;
  border-left: none;
  opacity: 0.5;
  font-size: 14px;
}

.showBMW:hover {
  opacity: 1;
  background-color: black;
}
.showMustang:hover {
  opacity: 1;
  background-color: black;
}

.showBMW.active,
.showMustang.active {
  background: white;
  color: black;
  font-weight: bold;
  letter-spacing: -0.1px;
  opacity: 1 !important;
}

.search-icon {
  margin-top: -35px;
  margin-left: -40px;
}

.card-image {
  max-width: 300px;
  margin-left: -15px;
  margin-top: -80px;
  filter: drop-shadow(0 1rem 1rem rgba(255, 255, 255, 0.05));
  transition: 1.5s;
}

.card-image:hover {
  scale: 1.08;
}

.card-name {
  margin-top: 8px;
  font-size: 17px;
  letter-spacing: -0.1px;
  text-align: start;
}

.card-description {
  color: white;
  opacity: 0.25;
  margin-top: 16px;
  font-size: 14px;
  text-align: start;
}

.card-delete {
  margin-top: 10px;
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.357);
  color: white;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  opacity: 1;
  font-size: 12px;
  letter-spacing: -0.1px;
  transition: 0.2s;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.card-delete:hover {
  background: rgb(39, 39, 39);
}

.delete-text {
  margin-left: 5px;
}

.sell {
  display: flex;
}

.sell-content {
  width: 90%;
  height: 100%;
  margin: 50px;
  padding: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.379);
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.2);
}

.sell-p {
  color: gray;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: center;
}

.sell-input {
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: rgb(75, 75, 75);
  color: white;
  font-family: "poppins";
}

.input-h3 {
  margin: 25px 0 5px 5px;
  font-size: 15px;
  opacity: 0.7;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.sell-input::placeholder {
  color: rgb(201, 201, 201);
}

.submit-button {
  width: 200px;
  border: none;
  font-family: "poppins";
  border: none;
  border-radius: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
}
